.title {
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
	display: block;
}
.gallery {
	&-container {
		display: grid;
		gap: 10px;
		padding: 0 100px;
		width: 1200px;
		margin: auto;
		grid-template-columns: 80% 1fr;
		grid-template-rows: repeat(4, 1fr);
	}

	&-main-img {
		grid-column: 1 / span 1;
		grid-row: 1 / span 3;
		img {
			width: 100%;
			box-shadow: 3px 4px 15px -3px rgba(0, 0, 0, 0.76);
			-webkit-box-shadow: 3px 4px 15px -3px rgba(0, 0, 0, 0.76);
			-moz-box-shadow: 3px 4px 15px -3px rgba(0, 0, 0, 0.76);
		}
		@keyframes flash {
			from {
				opacity: 0;
			}		

			to {
				opacity: 100%;
				
			}
		}
		&.animate {
			animation: flash 0.8s linear;
			animation-fill-mode: forwards;
		}
	}

	&-img-list {
		grid-column: 2 / span 1;
		grid-row: 1 / span 3;

		display: grid;
		grid-template-rows: repeat(3, 1fr);
		justify-content: center;
		align-items: center;

		img {
			width: 100%;
			box-shadow: 2px 0px 3px -3px rgba(0, 0, 0, 0.76);
			-webkit-box-shadow: 2px 0px 3px -3px rgba(0, 0, 0, 0.76);
			-moz-box-shadow: 2px 0px 3px -3px rgba(0, 0, 0, 0.76);
			&:hover {
				filter: opacity(0.5);
				cursor: pointer;
			}
		}
	}
}
