.more-info {

&-main{
	h1{
		font-size: 3rem;
		text-align: center;
	}
}

	&-container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 100px;
		margin: 20px;
		@media (max-width: 800px) {
			flex-direction: column;
		}
	}

	&-item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		img {
			height: 150px;
			width: auto;
			object-fit: contain;
		}
		h3 {
			font-size: 1.6rem;
			
		}
		a {
			&:hover{
				text-decoration: underline;
				cursor: pointer;
				background-color: lightgray;
			}
			font-size: 1.2rem;
		}
	}
}
