.menu {
	position: sticky;
	top: 0;
	z-index: 1;
	
	height: 50px;
	display: flex;
	justify-content: space-between;
	padding: 0px 40px;
	background-color: white;
	align-items: center;
	box-shadow: 0 0px 5px -1px rgba(0, 0, 0, 1);
}

.menu > div {
	color: #001e50;
	font-size: 1.5rem;
}