.side-menu {
	opacity: 0;
	transition: opacity 0.5s;
	pointer-events: none;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	background-color: red;
	// padding-top: 100px;
	z-index: 3;
	padding: 20px;
	background-color: #003f76;
	color: white;
	&-button {
		background: transparent;
		outline: none;
		border: none;
		cursor: pointer;
		color: inherit;
		display: grid;
		align-items: center;
		grid-auto-flow: column;
		column-gap: 8px;
	}
	&-main-menu {
		// color: white;
		ul {
			list-style: none;

			li {
				width: 100%;
				display: flex;
				justify-content: space-between;
				span {
					font-size: 1.5rem;
					padding: 10px;

					color: white;
				}
			}
		}
	}

	&.show {
		opacity: 100%;
		pointer-events: auto;     
	}

}
