.side-menu {
	display: none;
	opacity: 0;
	// opacity: 0;
	// pointer-events: none;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	background-color: red;
	// padding-top: 100px;
	z-index: 1;
	padding: 20px;
	background-color: #003f76;
	color: white;
	&-button {
		background: transparent;
		outline: none;
		border: none;
		cursor: pointer;
		color: inherit;
		display: grid;
		align-items: center;
		grid-auto-flow: column;
		column-gap: 8px;
	}
	&-main-menu {
		// color: white;
		ul {
			list-style: none;

			li {
				width: 100%;
				display: flex;
				justify-content: space-between;
				span {
					font-size: 1.5rem;
					padding: 10px;

					color: white;
				}
			}
		}
	}
	@keyframes flash {
		from {
			display: none;
			opacity: 0;
		}

		to {
			display: block;
			opacity: 100%;
		}
	}
	// @keyframes unflash {
	// 	from {
	// 		opacity: 0;
	// 	}

	// 	to {
	// 		opacity: 100%;
	// 	}
	// }

	&.show {
		animation: flash 0.5s linear;
		animation-fill-mode: forwards;
		display: block;
	}
	// &:not(.show) {
	// 	// display: block;
	// 	pointer-events: none;
	// 	animation-fill-mode: forwards;
	// 	animation: flash 0.5s linear reverse;
	// }
}
