@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800;900&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
}

body {
	background-color: #001e50;
	margin: 0;
}

.menu {
	height: 50px;
	display: flex;
	justify-content: space-between;
	padding: 0px 40px;
	background-color: white;
	align-items: center;
	box-shadow: 0 0px 15px -1px rgba(255, 255, 255, 1);
}

.menu > div {
	color: #001e50;
	font-size: 1.5rem;
}

.container {
	color: #001e50;
	font-size: 1.5rem;
	height: 450px;
	background-color: white;
	/* margin: 20px 20px; */
	border-radius: 5px;
	border: none;
	font-weight: 600;
	position: relative;
}

.jumbotron {
	height: 450px;
	border-radius: 5px;
	background-color: red;
	background-image: url('assets/golf-header.jpg');
	background-position: 50%;
	background-size: cover;
}

.jumbotron-title {
	display: flex;
	flex-direction: column;
	align-items: start;
  justify-content: center;
  gap: 5px;
	
	color: 'white';
	font-size: 2.5rem;
	width: 400px;
	height: 150px;
	text-align: center;
	position: absolute;
	bottom: -55px;
	left: 25px;
	padding: 0px 10px;
	background-color: white;
	font-weight: 800;
	box-shadow: 0 0px 15px -1px rgba(0, 0, 0, 1);
}

.button {
	border-radius: 100px;
	height: 35px;
	border-style: none;
	background-color: #001e50;
	color: white;
  padding: 0px 25px;

	font-size: 0.9rem;
}
