@import 'styles/navbar';
@import 'styles/jumbotron-top';
@import 'styles/summary';
@import 'styles/footer';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,800;0,900;1,400;1,600;1,800;1,900&display=swap');

html{
	
}
* {
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}

body {
	// background-color: #001e50;
	margin: 0;
	// height: 2000px;
}



#webgi-canvas {
	// margin-top: 370px;
	// height: 100vh;
	width: 100%;
	// position: sticky;
	position: fixed;
	top: 360px;
	// border: 1px solid red;
	// top: 20px;
	box-sizing: border-box;

	filter: drop-shadow(0 0 1rem black);
}
